.page-header {
		border-bottom: 1px solid #ffffff;
		display: flex;//строчные элементы
		justify-content: space-around;
		background-color: @background-color; //цвет фона


	&__inner {
		display: flex;
      justify-content: space-between;
      align-items: center;
			@media (min-width: @screen-md) {
			text-align: left;
		}

&__contacts {
	text-align: left;
	display: none;
	margin-left: 500px;
	font-family: @font-family;
	color: @color;

}
}

}
