.promo {
 height: 400px;
  @media (min-width: @screen-sm) {
    height: 500px;
  }
//   //  width: 1200px;
//    background-image: url('../img/mainphoto.png');
//    background-repeat: no-repeat;
//   //  background-size: cover;
//    border: solid 1px;
//   background-size: 100%;
//     // background-attachment: fixed;

    &__title {
      background: white;
      width: 35%;
      text-align: left;

        @media (min-width: @screen-sm) {
          text-align: left;
          }
    }
    &__text {
      background: white;
      width: 35%;
      text-align: left;

        @media (min-width: @screen-xs){
          text-align: center;
        }

    }

    &__main {
      //display: block;
      //margin-left: 350px;

      float: left;
	    top: 200px;
	    width: 100%;
      font-family: @font-family;
      font-weight: normal;
    }

}
