.promo {
   background-image: url(/img/mainphoto.png);
   height: 321px;
   box-sizing: border-box;
   padding-top: 20px;
   background-repeat: no-repeat;

  @media (min-width: @screen-sm) {
    height: 500px;
  }

    &__title {
      background: white;
      width: 35%;
      text-align: left;

        // @media (min-width: @screen-sm) {
        //   text-align: left;
        //   }
    }
    &__text {
      background: white;
      width: 35%;
      text-align: left;


        // @media (min-width: @screen-xs){
        //   text-align: center;
        // }

    }

    &__main {
      //display: block;
      //margin-left: 350px;
      padding: 50px;
      float: left;
	    top: 200px;
	    width: 100%;
      font-family: @font-family;
      font-weight: normal;
    }

}
