footer {
    display: flex;  
    justify-content: center;
   border: 1px solid;

    &__addres{
        display: flex;
        justify-content: center;
    }
    
    &__logo{
        text-align: center;
    }
    &__social{
        float: center;
    }
    &__info{
        float: right;
    }
}    
        
